 * {
  box-sizing: border-box;
} 
body, html {
  margin: 0;
  padding: 0;
  font-family: 'lato';
  scroll-behavior:smooth;
}
header, footer{
  width:100%;
  background-color:#1a507c;
  display: flex;
  justify-content: space-between;
}
header .name, .navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 1.5rem;
  background-color: darkgray;
  color: whitesmoke;
  flex: 1;
  justify-content: left;
}
.navbar{
  margin-left: 0;
  margin: right 50px;
  text-align: right;
  flex: 4;
  justify-content: right;
}


.navbar a {
  font-size: medium;
  color: aliceblue;
  text-decoration-color: aliceblue;
  text-decoration-thickness: 0.125em;
  padding: 3px;
  align-content:space-between;
  justify-content: right;
}

.navbar a:hover {
  background-color: dimgrey;
}
.container{
  position: relative;
}
.safari{
max-width: 100%;
height: auto
}
.subtitle{
  position: absolute;
  font-size: 1rem;
  bottom: 5px;
  right: 5px;
  background-color: black;
  opacity: 0.5;
  color: aliceblue;
  padding: 2px;
}

section{
  display: flex;
  justify-content: space-evenly;
}
section #about, #work, #contact{
display: flex;
font-size:2rem;
font-weight: bold;
align-content: center;
justify-content: center;
flex: 1;
min-width: 25%;
}
.vline{
  border-left: 4px solid #1a507c ;
}
section #about-paragraph {
  text-align: left;
  text-indent: 30px;
  flex: 4;
  padding: 20px;
}

.workbox, .info{
display: flex;
flex: 4;
flex-direction: column;
max-width: 75%;
justify-content: center;
}
.github{
  display:flex;
  flex:4;
  justify-content: space-evenly;
}
.self{
  position: relative;
  display: flex;
  max-width: 1250px;
  border-color: rgb(38, 93, 245);
  border-style: solid;
  border-width: 5px;
  
} 
.git{
  color: white;
  background-color: crimson;
  height:fit-content;
  opacity: 75%;
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  right: 75rem;
  top: 66rem;
  
  
}
.w2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.calc-pic{
  display: flex;
  position: relative;
  width: 600px;
  height: 400px;
  margin-left: 60px ;
  border-color: rgb(38, 93, 245);
  border-style: solid;
  border-width: 5px;
}
.calc{
  color: white;
  background-color: crimson;
  height:fit-content;
  opacity: 75%;
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  right: 73rem;
  top: 92rem;
}
.ledwall-pic{
  display: flex;
  position: relative;
  width: 600px;
  height: 400px;
  margin-right: 60px;
  border-color: rgb(38, 93, 245);
  border-style: solid;
  border-width: 5px;
}
.led{
  color: white;
  background-color: crimson;
  height:fit-content;
  opacity: 75%;
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  right: 8rem;
  top: 92rem;
}
section img:hover{
  opacity: 70%;
}
.info ul{
  display: flex;
  font-weight: bold;
  text-decoration-color: rgb(7, 89, 160);
  text-decoration-thickness: 0.125em;
  padding: 3px;
  justify-content:space-around;
  list-style: none;
}
footer{
  width: 100%;
  color: aliceblue;
  justify-content: center;
}
/* stuff that changes when display is resized */
@media (max-width: 500px) {
  header{
    width:100%;
    background-color:rgb(26, 80, 124);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  header .name, .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subtitle{
    position: absolute;
    font-size: 0.75rem;
    background-color: black;
    opacity: 0.5;
    color: aliceblue;
    padding: 2px;
  }
  section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  section #about, #work{
    display: flex;
    font-size:1rem;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    flex: 1;
    padding:2px;
    }
    .vline{
      border-bottom: 4px solid #1a507c ;
    }
    section #about-paragraph {
      text-align: left;
      text-indent: 30px;
    }
  .work{
display: flex;
flex-direction: column;
  }
  .w2{
    flex-direction: column;
  }

}
